body {
	background-color: #b8b8b8;
	font-size: 13px;
	line-height: 18px;
	color:#333;
}

#content {
	width: 800px;
	background-color: #fff;
	padding: 20px 30px;
	margin:0 auto;
}

h1 {
	font-size:26px;
	line-height: 30px;
	font-weight: normal;
	margin: 20px 0 10px;
}

h2 {
	font-size: 36px;
	line-height: 46px;
	color:#333;
	font-weight: normal;
	font-style: italic;
	margin: 40px 0 20px;
}

.fixed {
	position: fixed;
	top:20px;
	right: 0;
	width: 200px;
	font-style: italic;
	padding: 20px;
	background-color: #666;
	color: #fff;
}