body {
	background-color: #b8b8b8;
	font-size: 13px;
	line-height: 18px;
	color:#333;
}

#content {
	width: 800px;
	background-color: #fff;
	padding: 20px 30px;
	margin:0 auto;
}

h1 {
	font-size:26px;
	line-height: 30px;
	font-weight: normal;
	margin: 20px 0 10px;
}

h2 {
	font-size: 36px;
	line-height: 46px;
	color:#333;
	font-weight: normal;
	font-style: italic;
	margin: 40px 0 20px;
}

.fixed {
	position: fixed;
	top:20px;
	right: 0;
	width: 200px;
	font-style: italic;
	padding: 20px;
	background-color: #666;
	color: #fff;
}

#puzzle {
	position: relative;
	background: url("img/v5/v5-watermark.jpg") no-repeat;
	background-position: 0px 0px;
	border:5px solid #333;
	margin: 0 auto;
	width:604px;
	height:453px;
}

#puzzle img  {
	position: absolute;
}

#puzzle #img1  { top:0px;   left:0px;   }

#puzzle #img2  { top:0px;   left:118px; }

#puzzle #img3  { top:0px;   left:201px; }

#puzzle #img4  { top:0px;   left:369px; }

#puzzle #img5  { top:0px;   left:446px; }

#puzzle #img6  { top:74px;  left:0px;   }

#puzzle #img7  { top:107px; left:86px;  }

#puzzle #img8  { top:80px;  left:234px; }

#puzzle #img9  { top:119px; left:329px; }

#puzzle #img10 { top:81px;  left:479px; }

#puzzle #img11 { top:228px; left:0px;   }

#puzzle #img12 { top:190px; left:119px; }

#puzzle #img13 { top:224px; left:202px; }

#puzzle #img14 { top:188px; left:360px; }

#puzzle #img15 { top:227px; left:445px; }

#puzzle #img16 { top:300px; left:0px;   }

#puzzle #img17 { top:334px; left:86px;  }

#puzzle #img18 { top:309px; left:238px; }

#puzzle #img19 { top:343px; left:323px; }

#puzzle #img20 { top:303px; left:485px; }